/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}



table
{
  table-layout: fixed;
  width: 70%;
  border-collapse: collapse;
  border: 3px black;
  font-color: blue;
  margin-left: -700px; /* - moitié de la largeur */
  position: absolute;
  left: 50%;}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
    padding: 20px;
}


thead th:nth-child(1) {
  width: 30%;
  background-color: #757575;
}

thead th:nth-child(2) {
  width: 30%;
  background-color: #757575;
}

thead th:nth-child(3) {
  width: 10%;
  background-color: #757575;
}

thead th:nth-child(4) {
  width: 30%;
  background-color: #757575;
}

thead th:nth-child(5) {
  width: 30%;
  background-color: #757575;
}

tbody tr:nth-child(odd) {
  background-color: #E0E0E0;
  font-family: arial;
  padding: 20px;
  color: black;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #BDBDBD;
  font-family: arial;
  padding: 20px;
  color: black;
  text-align: center;
}

form{
    display:inline;
}

.style {
    border-width: 0;background-color:#005A7B;color: #F2f2f2;
}

header {

}

nav {

}

body {

}

footer{
background:#ccc;
position:absolute;
bottom:0;
width:100%;
padding-top:50px;
height:50px;
}

canvas {
        border: 3px solid #444;
      }
      .grid {
        float:left;
        width:500px;
        margin:0 10px;
        }
      .grid h1 {font-size:25px;text-align:center;}
      .grid p {text-align:left;}



/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}

nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    top: 0px;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav a:hover{
    color: orange;
    border-bottom: 2px solid gold;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ▼";
    font-size: 12px;
}

.conteneur{
  margin: 50px 20px;
  height: 1500px;
}

h1 {
    text-align: center;
   color:red;
    
}